.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.row-centered {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}


.column-space-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.center-align-items {
  align-items: center;
}

.center-align-self {
  align-self: center;
}
